@import "tailwindcss";

@variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
    .fancy-background{
      @apply bg-gradient-to-r from-stone-300 to-stone-400 dark:bg-gradient-to-r dark:from-sky-950 dark:to-sky-900
    }
  }

